body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    gap: 50px;
}

button {
    width: 220px;
    height: 320px;
    border: none;
    border-radius: 12px;
    background-color: #496a7e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* allow multi-line text */
    white-space: normal;
    word-wrap: break-word;
    /* adjust of text size*/
    font-size: clamp(1rem, 2vw, 2.5rem);
}

button:hover {
    background-color: #6a8fa7;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}